.my-footer{
    background-color: #000;
    text-align:center;
    padding:10px;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: rgb(128, 128, 128);
}

#movie-title-section{
  padding: 90px 0 90px 0;
}

#dashboard-button{
  margin-left: 2%;
}

body{
  background-color: lightGray;
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
}

#sapa{
  text-align: center;
  width: 75%;
  background-color: darkGrey;
  height: 40px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px 0 5px 0;
}

#movie-title{
  font-weight: 600;
  color: white;
  background-color: #808080;
  width: fit-content;
  border: 2px solid black;
  border-radius: 12px;
  padding: 1px 5px 1px 5px;
  box-shadow:7px 7px 15px black;
}

#movie-title-later{
  font-weight: 600;
  color: white;
  background-color: #808080;
  width: fit-content;
  border: 2px solid black;
  border-radius: 12px;
  padding: 1px 5px 1px 5px;
  box-shadow:7px 7px 15px black;
  height: auto;
}

#movie-poster{
  border: 8px double black;
  border-radius: 12px;
  text-align: center;
}

#movie-poster-later{
  width: 50%;
  height: 50%;
  border: 8px double black;
  border-radius: 12px;
  text-align: center;
}

#movie-details{
  border-style: dashed;
  border-width: 3px;
  border-color: black;
  border-radius: 12px;
  padding: 8px;
  background-color: #b3b3b3;
}

#details-title{
  display: inline-block;
  width: 100px;
}

#actor{
  text-align: center;
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 12px;
  padding: 7px 5px 5px 7px;
  background-color: #b3b3b3;
  font-weight: 600;
}

#plot{
  line-height: 44px;
}

@media (max-width: 1200px){
  body{
    text-align: -webkit-center;
  }
  #movie-details{
    text-align: left;
  }
}

@media (max-width: 540px){
  body{
    text-align: -webkit-center;
  }
  #movie-details{
    text-align: left;
    overflow: scroll;
  }
  #movie-poster{
    width: 80%;
  }
  #movie-title{
    width: auto;
  }
  #myTable_length{
    margin-top: 3%;
    padding-right: 0;
  }
  .col-sm-6, .col-sm-5, .col-sm-7{
    padding: 0;
  }
  #form-list{
    height: 212px;
  }
  #submit-list-button{
    margin-top: 7%;
  }
  #sapa{
    height: auto;
  }
}
@media (max-width: 376px){
  #dashboard-button{
    margin-left: 0;
    margin-top: 3%;
  }
  #sapa{
    width: 85%;
  }
  #button-watch-later{
    margin-top: 3%;
  }
  #movie-title-later{
    width: 80%;
  }
}
@media (max-width: 768px){
  #movie-title-section{
    padding: 45px 0 90px 0;
  }
}
