{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center; margin-top: 25px; font-family: Goudy Stout; font-size: 25px; color: DarkBlue">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center; margin-top: 40px;">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject" style="width: 150px; height: 50px;">{{ bio.subject }}</td>
            <td class="value" style="width: 250px; height: 50px;">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
