body{
  background-color: lightGrey;
}

.web-tittle{
  text-align: center;
  font-size: 40px;
}
.jumbotron1{
  height: 280px;
  margin-bottom: 0px;
  padding: 99px 0;
  text-align: center;
  border: 3px solid black;
}
.cover{
  height: 450px;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  /*position: relative;*/
  border: 3px solid black;
}
.square{
  position: relative;
  top: -150px;
}
.name{
  color: white;
  font-weight: 900;
  margin: 0;
}
.name-section{
  position: relative;
  top: -280px;
  left: 250px;
  width: auto;
  height: auto;
  padding: 5px 0;
  text-align: center;
  background-color: grey;
  border-radius: 12px;
  border: 3px solid black;
}
.about-me{
  border: 3px solid black;
  width: 40%;
  height: auto;
  text-align: center;
  position: relative;
  top: -150px;
  background-color: grey;
  color: white;
}

.post-section{
  top: -150px;
  height: auto;
  background-color: grey;
  margin-left: 10%;
  width: 50%;
  height: 175px;
  border-radius: 12px;
  border: 3px solid black;
}

.post{
  padding: 5px;
  margin-left: 10%;
  margin-bottom: 3%;
  width: 80%;
  height: 40px;
  background-color: lightGrey;
  border: 3px solid black;
}

.post:focus{
  background-color: lightBlue;
  border: 3px solid grey;
}

.post-status{
  margin-left: 10%;
  border: 1px solid black;
}

.picture{
  border: 3px solid black;
  box-shadow: 5px 5px 5px grey;
}
#login-logout{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#login-section{
  width: 250px;
  height: 75px;
  background-color: lightGrey;
  border: 3px solid black;
  padding: 16.5px;
  margin: auto;
  width: 50%;
}
#logout-section{
  width: 250px;
  height: 75px;
  background-color: #ff8080;
  border: 3px solid black;
  text-align: center;
  padding: 16.5px;
  margin-bottom: 10px;
}
#status{

}
.my-footer{
  background-color: #000;
  text-align:center;
  padding:10px;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: rgb(128, 128, 128);
}
#login-button{
}

#login-button:hover{
  background-color: #33cfff;
  height: 100%;
}

#getUserData-button{
  margin-top: 20px;
  margin-right: 20px;
}

#getLoginStatus-button{
  margin-top: 20px;
}

#post-area{
  width: 500px;
  height: 150px;
  border: 3px solid black;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  font-size: 20px;
  background-color: lightGrey;
}

.logout{
  top: -150px;
  border: 1px solid black;
  margin-bottom: 10%;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  margin-top: 5%;
}

#picture, #name{
  margin-left: 10px;
}

.status{
  margin-top: 15%;
  background-color: grey;
  border: 3px solid black;
  text-align: center;
}
.feed{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  border-top: 1.5px solid black;
  color: white;
}
.my-feed{
  text-align: left;
  margin-left: 3%;

}

@media only screen and (max-width: 768px) {
  .container{
    width: 100%;
    align-items: center;
  }
  .name-section{
    height: auto;
    width: 100%;
    top: -130px;
    left: auto;
  }
  .square{
    height: auto;
    width: auto;
  }
  .name{
    height: auto;
    width: auto;
  }
  body{
    text-align: center;
  }
  #cover{
    text-align: center;
  }
  #picture, #name{
    text-align: -webkit-center;
    margin-left: auto;
  }
  .about-me{
    width: 100%;
    margin-top: 10%;
  }
  .post-section{
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
  }
  .post{
    margin-left: 0;
  }
  #post-input{
    margin-left: 0;
  }
  .post-status{
    margin-left: 0;
  }

}
