{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <center>
        <h1 style="border: 2px solid Black;height: 75px; font-family: Broadway; font-size: 60px">Portofolio</h1>
    </center>
    <hr/>
    <center>
        <img src="https://c1.staticflickr.com/5/4384/37296411102_8394c69068_b.jpg" alt="me" width="250px" height="200px" class="img-circle">
        </center>
    <section name="bio">
        <h2 style="font-family: Broadway;">Bio</h2>
        <p style="font-size: 20px;">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="font-family: Broadway">List</h2>
        <ul>
            {% for ii in about_me %}
            <li style="font-size: 15px;"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2 style="font-family: Broadway">Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="font-size: 15px;">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    <hr/>
    {% endblock %}
