<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style>
<body style="background-color: SkyBlue;">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/lab-2/">Home</a></li>
              <li class="nav-item" ><a class="nav-link" href="/lab-2-addon/">About</a></li>
              <li class="nav-item"><a class="nav-link" href="/lab-3/">Diary</a></li>
              <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Portofolio<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/lab-4/">My Portofolio</a></li>
                  <li><a href="{% url 'lab-4:index' %}#form"> Form </a></li>
                  <li><a href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Todo and My List<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/lab-5/">To Do</a></li>
                  <li><a href="{% url 'lab-5:index' %}#my-list">My List</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="/lab-6/">My Tools</a></li>
              <li class="nav-item"><a class="nav-link" href="/lab-7/">Mahasiswa Fasilkom</a></li>
              <li class="nav-item"><a class="nav-link" href="/lab-8/">My FB</a></li>
              <li class="nav-item"><a class="nav-link" href="/lab-9/">Favorite</a></li>
              <li class="nav-item"><a class="nav-link" href="/lab-2/">Back</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <content>
    {% block content %}
    {% endblock %}
  </content>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
